@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">Contact</h1>
            <p>contact form goes here</p>
        </div>
    </div>
</div>

