@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>@ViewData["Title"]</h1>
            <div>
                <p>Use this page to detail your site's privacy policy.</p>
            </div>            
        </div>
     </div>
</div>

