@{
    ViewData["Title"] = "Site Reliability Engineering";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>@ViewData["Title"]</h1>
            <div>
                <p>Site Reliability Engineering section</p>
            </div>            
        </div>
     </div>
</div>

